<!--Navbar Component-->
<app-navigation></app-navigation>    

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- Heading Component-->
      <app-heading></app-heading>
      
      <hr>
      
      <!-- App Server Component -->
      <app-servers></app-servers>

      <hr>
      <app-username></app-username>
      <hr>

      <!-- Warning alert button Component-->
      <app-warning-alert></app-warning-alert>
      <br><br><br>
      
      <!-- Success alert button Component-->
      <app-success-alert></app-success-alert>


      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>
